h1 {
    font-size: 3.75em;
    font-weight: 700;
    margin-top: 0;
}

h3 {
    font-size: 1.375em;
}

h1,
h3,
p {
    font-family: Sora;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.25em;
    line-height: 1.5;

}
