.section-welcome {
  background-image: url(../../../dist/images/bg-image.png);
  background-repeat: round;
  width: 100%;
  height: calc(100vh - 4.875em);
  position: relative;
  overflow: hidden;

  .overlay {
    position: absolute;
    background-image: url(../../../dist/images/homeс.svg);
    width: 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 4.875em);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: none;

    &.is-animated {
      display: block;
      animation: scaleUP 8s;
      animation-delay: 3s;
    }
  }


}

@keyframes scaleUP {
  from {
    transform: scale(1);
    top: 0;
  }

  to {
    transform: scale(50.1);
  }
}