.site-header {
  padding: .625em 0 .875em 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background: #fff;


  .site-header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}